p {
  font-size: 20px; /* Font size for paragraphs */
}

body {
  background-color: pink; /* Set the background color of the entire page */
}

h4 {
  font-size: 25px; /* Set the background color of the entire page */
  text-align: center;
}

body {
  background-color: pink; /* Set the background color of the entire page */
}

.center-image {
  text-align: center; /* Center-align inline elements */
}

.center-image img {
  display: inline-block; /* Ensure the image behaves as an inline-block element */
}

#journalEntry {
  width: 100%;
  height: 200px; /* You can adjust the height as needed */
}

